navbar {
  grid-area: 1/1/2/-1;
  position: fixed;
  display: flex;
  height: 5vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  color: #57468b;
  background-color: #fff;
  z-index: 1;
  border-bottom: 1px solid rgba(128, 128, 128, 0.384);
}
.logo {
  justify-self: flex-start;
  margin-left: 5vw;
  font-weight: bold;
  background-color: #57468b;
  padding: 10px 30px;
  color: #fff;
  border-radius: 10px;
}

.links {
  display: flex;
  align-items: center;
}
navbar a {
  font-size: 20px;
  transition: all 0.3s;
  font-weight: bolder;
  position: relative;
  margin-left: 20px;
  text-decoration: none;
}
navbar a::after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: #7d65c4;
  position: absolute;
  bottom: 0%;
  left: 0%;
  transition: all 0.5s;
}
navbar a:hover::after {
  width: 100%;
}
.contact {
  justify-self: flex-end;
  margin-right: 5vw;
  font-size: 20px;
}
@media only screen and (min-width: 481px) and (max-width: 660px) {
  .contact {
    font-size: 15px;
  }
  .links a {
    font-size: 15px;
  }
  .logo {
    font-size: 26px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */

  .navbar {
    width: 90%;
  }
  .contact {
    font-size: 15px;
  }
  .links a {
    font-size: 15px;
  }
  .logo {
    padding: 10px 30px;
    font-size: 26px;
    color: #fff;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 320px) {
  .links {
    display: none;
  }
  .contact {
    display: none;
  }
  .logo {
    margin: 0;
  }
}
