footer {
  grid-area: -2/1/-1/-1;
  background-color: #272727e3;
  padding: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.contact_info {
  width: 20vw;
  text-align: start;
  font-size: 13px;
}
.contact_info h3 {
  font-weight: normal;
}
.copy_right {
  font-size: 10px;
  align-self: flex-end;
  font-style: italic;
  font-weight: 100;
  opacity: 0.7;
}
.footer_nav a {
  padding: 5px 10px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 3s;
  color: #ffffff;
}
.footer_nav a {
  display: block;
  text-align: start;
  margin-left: 30px;
  position: relative;
}
.footer_nav a::after {
  content: '';
  display: block;
  height: 1px;
  width: 0%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 5%;
  transition: all 0.4s;
}
.footer_nav a:hover::after {
  width: 80%;
}
.social_links img {
  width: 40px;
  border-radius: 15px;
  transition: all 0.5s;
  margin-right: 10px;
}
a:hover img {
  background-color: #0000008e;
  transform: scale(1.1);
}

/* MEDIA QUERIES */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
  }
  .contact_info {
    width: 100%;
    text-align: center;
    font-size: 13px;
  }
  .copy_right {
    order: 2;
    padding: 10px;
    align-self: center;
    font-style: normal;
    text-align: center;
  }
  .footer_nav {
    text-align: center;
    position: relative;
  }

  .footer_nav a {
    display: block;
    text-align: start;
    margin-left: 0px;
    position: relative;
  }
}
@media only screen and (max-width: 320px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: start;
  }
  .contact_info {
    width: 100%;
    text-align: center;
    font-size: 10px;
  }
  .copy_right {
    order: 2;
    padding: 10px;
    align-self: center;
    font-style: normal;
    text-align: center;
  }
  .footer_nav {
    text-align: center;
    position: relative;
  }

  .footer_nav a {
    display: block;
    text-align: start;
    margin-left: 0px;
    position: relative;
  }
}
